#home h1 {
  font-size: 4rem;
  line-height: 4rem;;
  margin: 30px 0;
}

#home h2 {
  margin: 0;
}

#home h3 {
  margin: 5px 0;
}

.home-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.post {
  margin-bottom: 30px;
}