header {
  display: flex;
  justify-content: center;
  background-color: var(--header);
}

#header-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  place-self: center;
  color: var(--font-light);
  padding: 20px 0;
  margin: 0 20px;
  width: 100%;
  max-width: 1200px;
}

.header-left {
  display: flex;
  font-size: clamp(3rem, 5vw, 4rem);
  align-items: center;
}

.logo {
  display: flex;
}

.logo-img {
  width: clamp(75px, 6vw, 100px);
  object-fit: contain;
  margin-right: 5px;
}

.pronunciation {
  color: var(--accent);
  font-size: 1.5rem;
  margin: 0 10px 10px 10px;
  align-self: flex-end;
}

.header-right {
  text-align: end;
  font-size: clamp(1.25rem, 3vw, 2rem);
}

.header-right button {
  margin: 5px;
  padding: 5px 10px;
}

@media (max-width: 750px) {
  #header-cont {
    margin: 0 10px;
  }

  .header-left {
    font-size: clamp(2rem, 6vw, 3rem);
  }

  .logo-img {
    width: clamp(50px, 8vw, 75px);
  }

  .pronunciation {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    margin: 5px;
  }
}

@media (max-width: 600px) {
  .header-left {
    flex-direction: column;
    position: relative;
    padding: 0px 0 15px 80px;
    font-size: 2rem;
  }

  .logo {
    padding-bottom: 10px;
  }

  .logo-img {
    position: absolute;
    width: 75px;
    top: 7px;
    left: 0;
  }

  .pronunciation {
    position: absolute;
    bottom: 5px;
    left: 78px;
  }

  .header-right {
    font-size: clamp(1.25rem, 3vw, 1.25rem);
  }
}

@media (max-width: 450px) {
  .header-left {
    padding: 0px 0 10px 70px;
    font-size: 1.5rem;
  }

  .logo-img {
    top: 5px;
    width: 65px;
  }

  .pronunciation {
    font-size: 0.9rem;
    bottom: 0;
    left: 68px;
  }

  .header-right {
    font-size: clamp(1.15rem, 2vw, 1.25rem);
  }

  #hello {
    display: none;
  }

  .header-right button {
    margin: 3px 3px 0 3px;
    padding: 3px;
    font-size: 0.75rem;
  }
}
