#home h2 {
  margin: 5px 0;
  font-size: 2rem;
  line-height: 2rem;
}

#home h3 {
  margin: 5px 0;
}

.home-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.latest-posts {
  min-height: 450px;
}

.post {
  margin: 0 20px 30px 20px;
}

.draft {
  margin: 0 20px 0px 20px;
}

.pagination {
  place-self: center;
}

.pagination button {
  margin: 0 10px 20px 0;
}

.search-bar {
  display: flex;
  font-family: inherit;
  margin: 20px 0;
}

.search-input {
  font-size: 1.75rem;
  max-width: 600px;
  width: 100%;
}

@media (max-width: 800px) {
  #home h2 {
    margin: 5px 0;
    font-size: 1.75rem;
    line-height: 1.75rem;
  }

  #home span {
    font-size: 1.15rem;
  }

  .search-input {
    font-size: 1.25rem;
  }
}

@media (max-width: 550px) {
  .home-header {
    flex-direction: column;
  }

  #home span {
    font-size: 0.9rem;
  }

  .draft-header {
    align-self: center;
    padding-bottom: 10px;
  }
}
