#new-post {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#new-post,
.quill {
  max-width: 1200px;
}

.title-input {
  font-family: inherit;
  line-height: 3rem;
  font-size: 3rem;
  width: calc(100% - 12px);
  border: 1px solid var(--font-dark);
  padding: 5px;
}

.quill {
  border: 1px solid var(--font-dark);
  margin: 20px 0;
}

.ql-toolbar {
  background-color: var(--accent);
}

.ql-editor {
  font-size: 1.1rem;
  background-color: white;
  min-height: 300px;
}

.new-post-btns button {
  margin: 10px 10px 10px 0;
}

.new-post-btns .danger {
  margin-left: 40px;
}

@media (max-width: 800px) {
  .title-input {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 600px) {
  .title-input {
    font-size: 2rem;
    line-height: 2rem;
  }

  .new-post-btns {
    place-self: center;
  }
}
